.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: #f9f7f1;
  background-image: url("./connected.png");
}

.page-container {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.form-group {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiFormControl-root {
  color: black;
}
.dropNav {
  background-color: #473d2e;
  background-image: url("./dark-tire.png");
  height: 0;
  transition: all 1s ease-in-out;
}

.show {
  height: inherit;
  width: inherit;
  transition: all 1s ease-in-out;
  padding: 3% 0;
}

.navTab:active {
  color: "rgb(223, 202, 151)"
}