.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: #efebdc;
  background-image: url("./connected.png");
  cursor: default;
  text-decoration: none;
}

.page-container {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.MuiFormControl-root {
  text-align: center;
}

.verses {
  text-align: center !important;
  color: #efebdc;
}

.verses>p {
  line-height: 1rem !important;
}

.MuiFormControl-fullWidth {
  width: 80% !important;
}

.dropNav {
  background-color: rgba(71, 61, 46, 0.7);
  background-image: url("./dark-tire.png");
  height: 0;
  transition: all 1s ease-in-out;
}

.show {
  height: inherit;
  width: inherit;
  transition: all 0.5s ease-in-out;
  padding: 3% 0;
}

/* NavTab State Colors */
.navTab:active {
  color: "rgb(223, 202, 151)";
  text-decoration: underline;
}

.navTab:hover {
  color: #736757;
}

/* SubNav State Colors */
.subNav {
  color: rgb(249, 247, 241);
}
.subNav:hover {
  color: #bfbfbf;
  text-decoration: underline;
}

/* Sidebar Card */
.subLink:hover {
  color: rgba(223, 202, 151, 1)
}