.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: #f9f7f1;
  background-image: url("./connected.png");
}

.page-container {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.form-group {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
